/*Fuente de letras de googlefont para la pag web, se ha utilizado el estilo Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* En body colocamos El color de Fondo de Pantalla y la Fuente de google*/
body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
}

/*En container se ajustan la distribucion de margen de la pagina para evitar que se salga del contenedor  */
.container {
    max-width: 3000px;
    margin: 100px auto;
}

/* En en swiper button se usa para las flechas deslizadoras */
.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #db241b;
}

.swiper-button-prev {
    color: #db241b;
}

/*En swiper bullet trabajomos lo que son los bullet*/
.swiper-pagination-bullet {
    background-color: #d3d2d2;
    opacity: 1px;
}

.swiper-pagination-bullet-active {
    background-color: #db241b;
}

/*En Menu se colocan la distribucion de los espacios del menu*/
.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
}

/*Menu-2 de la pagina de contacto*/
.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

/*Tamaño del logo*/

.logo {
    width: 180px;
    height: auto;
}

 /*Alineacion y tamaño de los iconos de las redes sociales */
.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
}

.social:hover {
    background-color: #db241b;
}

.social img {
    margin: 8px 0 0 10px;
}

/*Efectos de los menu al pasar el mouse y alineacion del menu*/
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 23px;
    padding: 10px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #db241b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*Header-content modifica la distribucion de espacio de margen de la barra deslizadoda*/

.header-content {
    margin-top: 550px;
    padding-bottom: 450px;
}

/*Slider modificamos el tamano de la letra, color y posicion del contenido que esta dentro de la barra deslizadora */
.slider {
    display: flex;
    align-items: center;
}
 /* margen del texto de las barras deslizadoras*/
.slider-txt {
    margin-left: 500px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 78px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 24px;
    color: #a7a7a7;
}

/*Btn es el  diseño de los botones*/
.botones {
    margin-top: 100px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #db241b;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #db241b;
}

/*Imagen de la Barra deslizadora */
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 250px;
    width: 600px;
}

/*Estilo de las pestañas de los productos de la barra deslisable*/
.products {
    background-color: #0e0e0e;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #db241b;
    color: #ffffff ;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-imgpro{
    margin-left: 50px;
    align-items: center;
    }
.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-txt {
    
    width: 50%;
}

.info-txt h2 {
    padding: 90px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    margin: 30px; ;
    text-align: justify;
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50%;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #db241b;
    color:#ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover {
    background-color: #ab1c15;
}

.horario {
    padding: 100px 0px;
    background-color: #0d0d0d;
}

.horario-info h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #ffffff;
}

.txt h4 {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer {
    width: 80%;
    padding: auto;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;

}

.div_formulario {
    text-align: justify;
    width: 50%;
	line-height: 40px;
	height:800px;
	border: 1px solid black (83, 227, 162);
	margin: 0 auto;
    padding: 20px;
	padding-bottom: 800px;


}

.boton_form {
	text-shadow: 0px 1px rgba(84, 229, 36, 0.2);
	text-align:center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	color: #FFF;
	background: #4d8ccc; 
	padding: 6px 30px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.caja_gris{
    width: 400px;
	margin: 10px  0;
    font-size: 18px;
	overflow: hidden;
	padding: 10px;
	background-color: #F2F2F2;
	border: 1px solid #6E6E6E;
	font-family: 'Open Sans', sans-serif;
}

.form-group{
    justify-content: center;
    padding: 10px;
    color: #ffffff;
}

h2{
    padding: 10px;
    color: #d3d2d2;
}



@media(max-width: 991px) {

    .menu {
        padding: 20px;
        justify-content: space-between;
}

    .menu-2 {
        display: none;
}

    .logo-1 {
        width: 100px;
}

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
}

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
}

    .menu .navbar ul li {
    width: 100%;
}

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100%;
    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin: left 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horinzontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        margin: 50%;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }

}

